<main class="d-flex flex-column align-items-center justify-content-center min-vh-100 p-3 ">

    <app-chrono class="w-100 mb-3"></app-chrono>

    <div class="card p-4" style="max-width: 70%; overflow-y: auto; max-height: 80vh" *ngIf="exo">

        <h1 class="text-center mb-4">{{ exo?.name }}</h1>

        <div class="text-center mb-4">
            <img [src]="exo?.img_url" alt="{{ exo?.name }}" class="img-fluid rounded" style="max-height: 250px;">
        </div>

        <form class="container">
            <!-- liste des sets -->
            @for (i of range(exo.planned_sets); track i) {
            <div class="row align-items-center g-3 rounded p-2 mb-2">
                <div class="col-2 fw-semibold">
                    Set {{ i }}
                </div>

                <div class="col-4">
                    <div class="input-group">
                        <input type="number" class="form-control" [placeholder]="exo.planned_reps">
                        <span class="input-group-text">rép.</span>
                    </div>
                </div>

                <div class="col-4">
                    <div class="input-group">
                        <input type="number" class="form-control" [placeholder]="exo.planned_weight">
                        <span class="input-group-text">kg</span>
                    </div>
                </div>

                @if (i >= exo.planned_sets) {
                <div class="col-2 d-flex justify-content-center">
                    <button type="button" class="btnDanger btn" (click)="supprimerSet()" tooltip>
                        <span class="tooltiptext">Supprimer un set</span>
                        -
                    </button>
                </div>
                }
            </div>
            }

            <!-- bouton pour ajouter un set en bas -->
            <div class="d-flex justify-content-center mb-3 position-relative">
                <button type="button" class="btn btnPrimaire" (click)="ajouterSet()" tooltip>
                    <span class="tooltiptext">Ajouter un set</span>
                    +
                </button>
            </div>

            <button type="submit" class="btn btn-principal">Valider</button>
        </form>
    </div>
</main>