<main class="d-flex">
    <section class="config-shell">
        <header>
            <h2 *ngIf="!exo">Afficher l'exercice</h2>
        </header>

        <div class="config-preview card empty" *ngIf="!exo && !message">
            <p class="mb-0"><i class="bi bi-cursor me-2"></i> Sélectionnez un exercice</p>
        </div>

        <div class="config-preview card" *ngIf="message">
            <p class="mb-0">{{ message }}</p>
        </div>

        <div class="config-preview card" *ngIf="exo">
            <h2>{{ exo?.name }}</h2>
            <img [src]="exo?.img_url" alt="{{ exo?.name }}" class="preview-image">
            <p class="mb-0">{{ exo?.overview }}</p>
        </div>
    </section>
</main>