<main class="d-flex flex-column ">

    <div class="container">

        <h1 class="mb-4 text-center">Mes routines</h1>

        <div class="card p-3">

            <div class="row g-3 justify-content-center w-auto" >

                <div style="max-height: 60vh; overflow-y: auto;">
                    <div *ngFor="let r of routines" class="col-12 d-flex justify-content-center">

                        <div class="card clickable-card cursor-pointer w-100 mb-2"
                            (click)="AfficherInfosRoutine(r.id)" tooltip>

                            <div class="card-body d-flex justify-content-between align-items-center">

                                <p class="h5 mb-0">
                                    {{ r.nom }}
                                    <span class="text-gray" *ngIf="r.isActive"> (Active)</span>
                                </p>

                            </div>

                            <span class="tooltiptext">Cliquez pour voir la routine</span>

                        </div>

                    </div>
                </div>

                <!-- Aucun résultat -->
                <div *ngIf="routines.length === 0" class="col-12">
                    <div class="alert alert-secondary text-center mb-0">
                        <p class="mb-0 text-gray">Aucune routine disponible</p>
                    </div>
                </div>

            </div>

        </div>


        <!-- Boutons -->
        <div class="button-group mt-4 text-center">
            <button class="btn btnPrimaire me-2" (click)="creerRoutine()">
                <i class="bi bi-plus-lg"></i>
                Créer une routine
            </button>
            
            <button type="button" class="btn btnPrimaire" routerLink="/routine">
                <i class="bi bi-arrow-left"></i>
                Retour
            </button>
        </div>

    </div>

</main>