<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1An3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<main class="d-flex flex-column align-items-center justify-content-center min-vh-100">

    <div class="container text-center">

        <h1 class="mb-4">Vos routines enregistrées</h1>
        
        <div *ngFor="let r of routines" class="card mb-3 p-3 cursor-pointer"
             style="max-width: 400px; margin:auto;"
             (click)="AfficherInfosRoutine(r.id)">
            
            <p class="h5 mb-0">{{ r.nom }} <span class="mb-0 text-gray" *ngIf="r.isActive"> (Active)</span></p>
        </div>

        <div *ngIf="routines.length === 0" class="alert alert-secondary mt-3">
            <p class="mb-0 text-gray">Aucune routine disponible</p>
        </div>

        <button class="btn-principal">Créer une routine</button>

    </div>

</main>