<main>
    <h1>Ma routine</h1>

    <div class="week-btn-row">
        <button class="btn btnPrimaire" *ngFor="let jour of jours; let i = index" [class.active]="selectedDay === i" (click)="selectDay(i)">
            {{ jour.short }} <br> <i class="bi" [ngClass]="seances[i]?.isRestDay ? 'bi-moon-fill' : 'bi-lightning-charge-fill'"></i>
        </button>
    </div>

    <div class="routine routine-2col">
        <div class="card routine-main-card">
            <div class="routine-header">
                <div class="routine-title">{{ seances[selectedDay]?.title }}</div>
                
                    <button class="btn btnPrimaire" (click)="afficherSeance(jours[selectedDay]?.full || '')">
                        <i class="bi bi-pencil"></i> Éditer le jour
                    </button>
            </div>

            <div class="routine-exo-list">
                <div class="routine-exo-item" *ngFor="let exo of seances[selectedDay]?.exercises; let idx = index">
                    <div class="routine-exo-num">{{ (idx+1) | number:'2.0' }}</div>

                    <div class="routine-exo-main">
                        <div class="routine-exo-name">{{ exo.name }}</div>
                        <div class="routine-exo-details">{{ exo.planned_sets }} sets de {{ exo.planned_reps }} reps à {{ exo.planned_weight }} kg</div>
                    </div>

                </div>
            </div>
        </div>

        <div class="card routine-side-card">
            <div class="routine-title">Changer de routine</div>

            <div class="routine-side-btns">
                <button class="btn btnPrimaire" routerLink="/routines-persos">
                    <i class="bi bi-grid-3x3-gap"></i> Mes routines
                </button>
                <button class="btn btnPrimaire">
                    <i class="bi bi-box-arrow-in-right"></i> Routines préfaites
                </button>
            </div>

        </div>
    </div>
</main>