<main class="d-flex align-items-center justify-content-center min-vh-100 rout">

    <h1> Votre routine active</h1>

    <div class="routine">
        <div class="card clickable-card" style="overflow-y: auto; max-height: 60vh;"
            (click)="afficherSeance('Lundi')"
            tooltip>
            <span class="tooltiptext">Cliquez pour modifier la séance du lundi</span>
            <h5> Lundi </h5>
            <p *ngFor="let m of message[0]" [innerHTML]="m"></p>
        </div>

        <div class="card clickable-card" style="overflow-y: auto; max-height: 60vh;"
            (click)="afficherSeance('Mardi')"
            tooltip>
            <span class="tooltiptext">Cliquez pour modifier la séance du mardi</span>
            <h5> Mardi </h5>
            <p *ngFor="let m of message[1]" [innerHTML]="m"></p>
        </div>

        <div class="card clickable-card jour" style="overflow-y: auto; max-height: 60vh;"
            (click)="afficherSeance('Mercredi')"
            tooltip>
            <span class="tooltiptext">Cliquez pour modifier la séance du mercredi</span>
            <h5> Mercredi </h5>
            <p *ngFor="let m of message[2]" [innerHTML]="m"></p>
        </div>

        <div class="card clickable-card" style="overflow-y: auto; max-height: 60vh;"
            (click)="afficherSeance('Jeudi')"
            tooltip>
            <span class="tooltiptext">Cliquez pour modifier la séance du jeudi</span>
            <h5> Jeudi </h5>
            <p *ngFor="let m of message[3]" [innerHTML]="m"></p>
        </div>

        <div class="card clickable-card" style="overflow-y: auto; max-height: 60vh;"
            (click)="afficherSeance('Vendredi')"
            tooltip>
            <span class="tooltiptext">Cliquez pour modifier la séance du vendredi</span>
            <h5> Vendredi </h5>
            <p *ngFor="let m of message[4]" [innerHTML]="m"></p>
        </div>

        <div class="card clickable-card" style="overflow-y: auto; max-height: 60vh;"
            (click)="afficherSeance('Samedi')"
            tooltip>
            <span class="tooltiptext">Cliquez pour modifier la séance du samedi</span>
            <h5> Samedi </h5>
            <p *ngFor="let m of message[5]" [innerHTML]="m"></p>
        </div>

        <div class="card clickable-card" style="overflow-y: auto; max-height: 60vh;"
            (click)="afficherSeance('Dimanche')"
            tooltip>
            <span class="tooltiptext">Cliquez pour modifier la séance du dimanche</span>
            <h5> Dimanche </h5>
            <p *ngFor="let m of message[6]" [innerHTML]="m"></p>
        </div>
    </div>

    <div class="routineBtn">
        <button class="btn btnPrimaire" routerLink="/routines-persos">Vos routines enregistrées</button>
        <button class="btn btnPrimaire">Routines préfaites</button>
    </div>



</main>