<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<main class="d-flex align-items-center justify-content-center min-vh-100 rout">

    <div class="routine">
        <div class="card clickable-card" style="overflow-y: auto; max-height: 60vh;" (click)="afficherSeance('Lundi')">
            <h5> Lundi </h5>
            <p *ngFor="let m of message[0]" [innerHTML]="m"></p>

        </div>
        <div class="card clickable-card" style="overflow-y: auto; max-height: 60vh;" (click)="afficherSeance('Mardi')">
            <h5> Mardi </h5>
            <p *ngFor="let m of message[1]" [innerHTML]="m"></p>
        </div>
        <div class="card clickable-card" style="overflow-y: auto; max-height: 60vh;" (click)="afficherSeance('Mercredi')">
            <h5> Mercredi </h5>
            <p *ngFor="let m of message[2]" [innerHTML]="m"></p>
        </div>
        <div class="card clickable-card" style="overflow-y: auto; max-height: 60vh;" (click)="afficherSeance('Jeudi')">
            <h5> Jeudi </h5>
            <p *ngFor="let m of message[3]" [innerHTML]="m"></p>
        </div>
        <div class="card clickable-card" style="overflow-y: auto; max-height: 60vh;" (click)="afficherSeance('Vendredi')">
            <h5> Vendredi </h5>
            <p *ngFor="let m of message[4]" [innerHTML]="m"></p>
        </div>
        <div class="card clickable-card" style="overflow-y: auto; max-height: 60vh;" (click)="afficherSeance('Samedi')">
            <h5> Samedi </h5>
            <p *ngFor="let m of message[5]" [innerHTML]="m"></p>
        </div>
        <div class="card clickable-card" style="overflow-y: auto; max-height: 60vh;" (click)="afficherSeance('Dimanche')">
            <h5> Dimanche </h5>
            <p *ngFor="let m of message[6]" [innerHTML]="m"></p>
        </div>

    </div>

    <div class="routineBtn">
        <button class="btn-principal" routerLink="/routines-persos">Vos routines enregistrées</button>
        <button class="btn-principal">Routines préfaites</button>
        <button class="btn-principal" routerLink="/exercices">test</button>
    </div>



</main>