#side-menu {
    height: 100%; 
    width: 280px;
    top: 0;
    left: 0;
    background-color: var(--blue2);
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

#side-menu a,
#side-menu h1,
#side-menu p {
    padding: 8px 0;
    text-decoration: none;
    font-size: 25px;
    color: var(--white1);
    display: flex;
    justify-content: center;
    width: 100%;
    transition: 0.3s;
}

#side-menu a:hover {
    color: var(--white3);
}

#side-menu hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid var(--white1);
    margin: 1em 0;
    padding: 0;
    width: 100%;
}

ul {
    height: 100%;
    padding-left: 0;
}

.bottom {
    margin-top: auto;
    width: 100%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--silver1);
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--white3);
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--red3);
}

input:checked + .slider:before {
    transform: translateX(26px);
}