/* The side navigation menu */
#side-menu {
  height: 100%; /* 100% Full-height */
  width: 20%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: var(--blue1); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

body.dark #side-menu {
  background-color: var(--white1);
}

#side-menu a, #side-menu h1 {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--white1);
  display: block;
  transition: 0.3s;
}

#side-menu a:hover {
  color: var(--white3);
}

body.dark #side-menu a, body.dark #side-menu h1 {
  color: var(--blue1);
}

body.dark #side-menu a:hover {
  color: var(--blue3);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid var(--white3);
  margin: 1em 0;
  padding: 0;
}

body.part hr {
  border-top: 2px solid var(--blue1);
}