html,
body {
        height: 100%;
        margin: 0;
        font-family: Arial, sans-serif;
}

form {
        text-align: center;
}

#login_form {
        min-width: 300px;
}

input {
        display: block;
        margin: 0 auto;      
        width: 50%;
        text-align: center;
}

input[type=submit] {
        width: 20%;
        text-align: center;
        min-width: 100px;
        box-sizing: border-box;
} 

#login_form button {
        width:20%;
        min-width: 100px;
        margin: 0 auto;      
}

.btn-dark {
    padding: 5px 10px;
}