.vbox {
    width: 80%;
    height: 80%;
    display: flex;
}

#map {
    display: flex;
    border-radius: 15px 15px;
    overflow: hidden;
    flex: 1;
    min-height: 100%;
    position: relative;
    transition: height 0.5s ease-in-out;
}

#controls {
    position: relative;
    display: flex;
    width: 300px;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    overflow-y: auto;
}