#map {

    display: flex;
    border-radius: 15px;
    overflow: hidden;
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    transition: height 0.5s ease-in-out;
}

#controls {
    position: absolute;
    display:flex;
    width:20%;
    right: 0;
}