<main class="d-flex align-items-center justify-content-center min-vh-100">

    <h1>Séance du {{ jour }}</h1>

    <div class="d-flex flex-column gap-3 w-50" style="overflow-y: auto; max-height: 60vh;">
        <div *ngIf="!exercices || exercices.length === 0">
            <p>Aucun exercice.</p>


        </div>
        <div *ngFor="let exo of exercices;let i = index"
        class="card clickable-card d-flex flex-row align-items-center p-2"
        (click)="modifie(exo.exoId,exo.planned_sets,exo.planned_reps,exo.planned_weight)">
            <p class="mb-0">
                {{ exo.name }}</p>

            <div class="d-flex ms-auto">
                <button *ngIf="i > 0" type="button" class="btn-principal" (click)="bouger(exo.seance_exercise_id,'up') ; $event.stopPropagation()">
                    &#9650;
                </button>
                <button *ngIf="i < exercices.length - 1" type="button" class="btn-principal"
                    (click)="bouger(exo.seance_exercise_id,'down') ; $event.stopPropagation()">
                    &#9660;
                </button>
            </div>
        </div>

    </div>

    <div class="button-group">
        <button type="button" class="btn-principal" (click)="ajouterExo()">Ajouter un exercice</button>
        <button type="button" class="btn-principal" routerLink="/routine">Retour</button>
    </div>

</main>