<main class="d-flex align-items-center justify-content-center min-vh-100">

    <h1>Séance du {{ jour }}</h1>

    <div class="d-flex flex-column gap-3 w-50 mb-3" style="overflow-y: auto; max-height: 60vh;">
        <div *ngIf="!exercices || exercices.length === 0">
            <p>Aucun exercice.</p>


        </div>

        <div *ngFor="let exo of exercices;let i = index"
        class="card clickable-card d-flex flex-row align-items-center p-2"> 

            <!-- exo info -->
            <div (click)="modifie(exo.exoId,exo.planned_sets,exo.planned_reps,exo.planned_weight)" tooltip>
                <span class="tooltiptext"> Cliquez pour modifier l'exercice </span>
                <div class="d-flex align-items-center p-2">
                    <img [src]="exo.img_url" alt="{{exo.nom}}" width="20%" class="me-3 rounded">
                    <p>{{ exo.name }} </p>
                </div>
            </div>

            <!-- boutons -->
            <div class="d-flex ms-auto">
                <button *ngIf="i > 0" type="button" class="btn-principal btn-rond"
                (click)="bouger(exo.seance_exercise_id,'up') ; $event.stopPropagation()"
                tooltip>
                    <span class="tooltiptext"> Déplacer vers le haut </span>
                    &#9650;
                </button>
                <button *ngIf="i < exercices.length - 1" type="button" class="btn-principal btn-rond"
                (click)="bouger(exo.seance_exercise_id,'down') ; $event.stopPropagation()"
                tooltip>
                    <span class="tooltiptext"> Déplacer vers le bas </span>
                    &#9660;
                </button>
            </div>
        </div>

    </div>

    <div tooltip>
        <span class="tooltiptext"> Ajouter un exercice </span>
        <button type="button" class="btn-principal mb-2 btn-rond" (click)="ajouterExo()">+</button>
    </div>

    <button type="button" class="btn-principal mb-2" routerLink="/routine">Retour</button>

</main>