<main class="d-flex" [class.seance-en-cours]="commencerSeance">

    <h1>Séance du {{ jour }}</h1>
    <div class="d-flex flex-column gap-3 w-50 mb-3" style="overflow-y: auto; max-height: 50vh;">
        <div *ngIf="!exercices || exercices.length === 0 && !seanceRepos">
            <p>Aucun exercice.</p>
        </div>

        <div *ngIf="seanceRepos">
            <p>Jour de repos</p>
        </div>

        <div *ngFor="let exo of exercices;let i = index"
            class="card clickable-card d-flex flex-row align-items-center p-2">

            <!-- exo info -->
            <div (click)="!exo.dejaValide ? modifie(exo.exoId, exo.planned_sets, exo.planned_reps, exo.planned_weight, exo.seance_exercise_id) : null"
                tooltip>
                <span class="tooltiptext">
                    @if(!commencerSeance){
                    Cliquez pour modifier l'exercice
                    }@else{
                    Commencer l'exercice
                    }

                </span>
                <div class="d-flex align-items-center p-2">
                    <img [src]="exo.img_url" alt="{{exo.nom}}" width="20%" class="me-3 rounded">
                    <p class="mb-0">{{ exo.name }} </p>
                    <i *ngIf="exo.dejaValide" class="bi bi-check-lg"></i>
                </div>

            </div>

            <!-- boutons -->
            <div class="d-flex ms-auto gap-1">
                @if(i < exercices.length - 1){
                <button type="button" class="btn btnPrimaire btnIcon"
                    (click)="bouger(exo.seance_exercise_id,'up') ; $event.stopPropagation()"
                    [style.visibility]="i < 1 ? 'hidden' : 'visible'" tooltip>
                    <span class="tooltiptext"> Déplacer vers le haut </span>
                    <i class="bi bi-arrow-up"></i>
                </button>
                }
                
                <button type="button" class="btn btnPrimaire btnIcon"
                    (click)="bouger(exo.seance_exercise_id,'down') ; $event.stopPropagation()"
                    [style.visibility]="i > exercices.length - 2 ? 'hidden' : 'visible'" tooltip>
                    <span class="tooltiptext"> Déplacer vers le bas </span>
                    <i class="bi bi-arrow-down"></i>
                </button>

                @if(i > exercices.length - 2){
                <button type="button" class="btn btnPrimaire btnIcon"
                    (click)="bouger(exo.seance_exercise_id,'up') ; $event.stopPropagation()"
                    [style.visibility]="i < 1 ? 'hidden' : 'visible'" tooltip>
                    <span class="tooltiptext"> Déplacer vers le haut </span>
                    <i class="bi bi-arrow-up"></i>
                </button>
                }
            </div>
        </div>

    </div>

    <div tooltip *ngIf="!commencerSeance">
        <span class="tooltiptext"> Ajouter un exercice </span>
        <button type="button" class="btn btnPrimaire mb-2 btnIcon" (click)="ajouterExo()">
        <i class="bi bi-plus-lg"></i>
        </button>
    </div>

    <button type="button" class="btn btnPrimaire" (click)="retour()" *ngIf="!commencerSeance || seanceRepos ">
        <i class="bi bi-arrow-left"></i>
        Retour
    </button>

    <button type="button" class="btn btnPrimaire" (click)="retour()" *ngIf="commencerSeance && !seanceRepos">
        <i class="bi bi-check-lg"></i>
        Finir la séance
    </button>


</main>