/* You can add global styles to this file, and also import other style files */
/* style pour la page d'accueil */

/* 1 est la teinte la plus foncée, 3 la plus claire*/
:root {
        --red1: #b83100ff;
        --red2: #E03C00;
        --red3: #FF4B0A;

        --white1: #D7D8EA;
        --white2: #F0F1FD;
        --white3: #f9f9ffff;

        --silver1: #aba3a3ff;
        --silver2: #c5bfbfff;
        --silver3: #d8d4d4ff;

        --blue1: #1c364cff;
        --blue2: #31485cff;
        --blue3: #44596bff;
}


/* Faire prendre toute la hauteur de la page */
html,
body {
        height: 100%;
        margin: 0;
        font-family: Arial, sans-serif;
}

main {
        min-height: 90vh;
        background-color: var(--white3);
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        /* centrer verticalement */
        align-items: center;
        /* centrer horizontalement */
        text-align: center;
        padding: 20px;
}

body.dark main {
        background-color: var(--blue1);
}

h1 {
        color: var(--red1);
        font-size: 48px;
        margin-bottom: 20px;
}

body.dark h1 {
        color: var(--white3);
}


h2 {
        color: var(--blue1);
        font-size: 24px;
        font-weight: normal;
}

body.dark h2 {
        color: var(--white3);
}

.button-group {
        display: flex;
        /* met les boutons côte à côte */
        gap: 10px;
        /* espace entre les boutons */
        justify-content: center;
        /* centrer horizontalement */
        margin-top: 20px;
}

button, input {
        padding: 10px 20px;
        border-radius: 12px !important;
        transition-duration: 0.3s;

}

.btn-dark {
        background-color: var(--blue1) !important;
        border-color: var(--blue1) !important;
}

.btn-dark dark {
        background-color: var(--silver3) !important;
        border-color: var(--silver3) !important;
}

.btn-dark:hover {
        background-color: var(--blue3) !important;
        border-color: var(--blue3) !important;

}

.btn-red {
        background-color: var(--red1);
        border-color: var(--red1);
        color: #fff !important;
}

.btn-red:hover {
        background-color: var(--red2) !important;
        border-color: var(--red2) !important;
        color: #fff !important;
}

form {
        display: block;
        margin: 0 auto;

}

.form-group {
        text-align: center;
        min-width: 100px;
}

form input {
        display: block;
        margin: 0 auto;
        width: 50%;
        text-align: center;
}

form input[type=submit] {
        width: 20%;
        text-align: center;
        min-width: 100px;
        box-sizing: border-box;
}

form button {
        width: 20%;
        min-width: 100px;
        margin: 0 auto;
}

form .btn-dark {
        padding: 5px 10px;
}

.imgLogo {
        height: 150px;
}