@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&family=Space+Mono:wght@400;700&display=swap');

@import './styles/buttons.css';
@import './styles/tooltip.css';
@import './styles/form.css';

/* style pour la page d'accueil */

/* 1 est la teinte la plus foncée, 3 la plus claire*/
:root {
    --red1: #b83100ff;
    --red2: #E03C00;
    --red3: #FF4B0A;

    --white1: #D7D8EA;
    --white2: #F0F1FD;
    --white3: #f9f9ffff;

    --silver1: #aba3a3ff;
    --silver2: #c5bfbfff;
    --silver3: #d8d4d4ff;

    --blue1: #1c364cff;
    --blue2: #31485cff;
    --blue3: #44596bff;
}


html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Space Grotesk' !important;
}

main {
    min-height: 100vh;
    background-color: var(--white3);
    height: 100%;
    overflow: hidden;
    transition: background-color 0.2s ease;
    animation: fadeIn 0.25s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body.dark main {
    background-color: var(--blue1);
}

main .card {
    border: 4px solid var(--white1);
    background-color: var(--white2);
    transition: background-color 0.3s ease, box-shadow 0.2s ease;
    will-change: background-color;
}

main .clickable-card:hover {
    background-color: var(--white1);
}

main .card li {
    background-color: var(--white2);
}


body.dark main .card li,
body.dark main .card {
    background-color: var(--white3);
}

body.dark main .clickable-card:hover {
    background-color: var(--white1);
}

p,
label,
body.dark main .card p,
body.dark main .card label,
body.dark main .routine p {
    color: var(--blue1);
}

body.dark p {
    color: var(--white3);
}

h1,
body.dark main .card h1 {
    color: var(--red1);
    margin-bottom: 20px;
}

h2,
body.dark main .card h2 {
    color: var(--blue1);
    font-weight: normal;
}

main .card h1 {
    color: var(--blue1);
}

body.dark h1,
body.dark h2,
body.dark label {
    color: var(--white3);
}

.button-group {
    display: flex;
    /* met les boutons côte à côte */
    gap: 10px;
    /* espace entre les boutons */
    justify-content: center;
    /* centrer horizontalement */
    margin-top: 20px;
}

button,
input {
    border-radius: 12px;
    padding: 10px 20px;
    transition-duration: 0.3s;
}


.imgLogo {
    height: 150px;
}

canvas {
    width: 800px;
    height: 500px;
    align-items: right;
}

body.dark canvas {
    width: 800px;
    height: 500px;
    align-items: right;
}

.hbox {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.layout {
    display: flex;
    gap: 0px;
    padding: 0px;
}

.page {
    flex: 1;
    overflow: auto;
}

app-ajouter-exo,
app-graph-poid,
app-choisir-routine,
app-afficher-seance {
    flex: 7;
    /* 6 parts */
}

app-afficher-exo,
app-menu-poid,
app-afficher-routine,
app-configurer-exo,
app-chrono {
    flex: 3;
    /* 4 parts → ratio 6:4 = 60:40 */
}

.routine {
    display: flex;
    justify-content: center;
    /* centre horizontalement les jours */
    align-items: flex-end;
    /* centre la ligne dans la page */
    gap: 10px;
    /* espace entre les jours */
    margin: 40px;
}

.routine .card {
    border: 4px solid var(--white1);
    padding: 10px 15px;
    text-align: center;
    border-radius: 8px;
    background-color: var(--white2);
    height: 60vh;
    width: 20%;
    min-width: 150px;
    cursor: pointer;
}

.card .text-gray {
    color: var(--blue3);
}

td {
    padding: 10px;
}

main.hideScrolbar {
    justify-content: flex-start !important;
    align-items: stretch !important;
}

.page-container {
    display: grid;
    padding: 0 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        ". title ."
        "chrono . streak"
        ". recap ."
        ". button .";

    align-items: center;
    text-align: center;
    gap: 20px;
    min-height: 100vh;
}

.chrono {
    grid-area: chrono;
    text-align: center;
    border: 2px solid var(--blue1);
    border-radius: 6px;
}

.streak {
    grid-area: streak;
    text-align: center;
    border: 2px solid var(--blue1);
    border-radius: 6px;
}

.recap {
    grid-area: recap;
    border: 2px solid var(--blue1);
    border-radius: 6px;
}

.titreRecap {
    grid-area: title;
}

.calendrier-grille {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.changeMois {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
}

.actif {
    background-color: #b5ffa3 !important;
}