.changeMois {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
}

.calendrier-grille {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}
