<main class="d-flex flex-column w-100">

    <div class="card text-center mb-0 p-4 w-auto" *ngIf="!seances">
        <p class="mb-0 text-gray">Sélectionnez une routine</p>
    </div>

    <!-- affichage routine -->
    <div *ngIf="!is_renaming && routine" class="d-flex flex-column flex-md-row align-items-md-center gap-3 w-100">
        <h2 class="mb-0 fw-bold">{{ routine.name }}</h2>
        <div class="button-group d-flex gap-2 mt-2 mt-md-0">
            <button class="btn btnIcon btnPrimaire" (click)="ouvrirFormulaireRenommerRoutine()">
                <i class="bi bi-pencil"></i>
            </button>
            <button class="btn btnIcon btnDanger" (click)="supprimerRoutine()">
                <i class="bi bi-trash"></i>
            </button>
            <button class="btn btnIcon btnPrimaire w-auto" (click)="activerRoutine()">Activer</button>
        </div>
    </div>

    <!-- form renommage -->
    <form *ngIf="is_renaming" (ngSubmit)="renommerRoutine()" class="d-flex flex-column flex-md-row align-items-md-center gap-3 w-100">
        <input type="text" id="routine_nom" name="routine_nom" [(ngModel)]="routine_nom" required 
        class="form-control" [placeholder]="routine.name" />
        <button type="submit" class="btn btnPrimaire btnIcon">
            <i class="bi bi-check-lg"></i>
        </button>
    </form>

    <!-- Liste des séances -->
    <div *ngIf="seances" class="w-100">
        <div class="card p-3">
            <div style="max-height: 60vh; overflow-y: auto;">
                <div *ngFor="let s of seances" class="routine-exo-item p-2 mb-2">
                    <p class="h5 mb-0 p-2 text-start"> {{ s.title }}
                        @if (s.exercises.length > 0) {
                         <span class="text-gray"> - {{ s.exercises.length }} exercice(s)</span>
                        }
                    </p>
                </div>
            </div>
            
        </div>
    </div>

</main>